<!-- BEGIN_INCLUDE(slack:api-test) -->
    <slack:api-test config-ref="" />
<!-- END_INCLUDE(slack:api-test) -->

<!-- BEGIN_INCLUDE(slack:auth-test) -->
    <slack:auth-test config-ref="" />
<!-- END_INCLUDE(slack:auth-test) -->

<!-- BEGIN_INCLUDE(slack:users-info) -->
    <slack:users-info config-ref="" />
<!-- END_INCLUDE(slack:users-info) -->

<!-- BEGIN_INCLUDE(slack:users-list) -->
    <slack:users-list config-ref="" />
<!-- END_INCLUDE(slack:users-list) -->
